<div *ngIf="product">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Number">
        Number
      </label>
      <input id="Number" class="form-control" type="text" [(ngModel)]="product.Number" name="Number">
    </div>
    <div class="form-group">
      <label for="Price">
        Price
      </label>
      <input id="Price" type="text" class="form-control" [(ngModel)]="product.Price" name="Price">
    </div>
    <div class="form-group">
      <label for="Description">
        Description
      </label>
      <textarea id="Description" class="form-control" [(ngModel)]="product.Description" name="Description"></textarea>
    </div>
    <div class="form-check">
      <label for="Disabled">
        Archived
      </label>
      <input id="Disabled" type="checkbox" class="form-check-input" [(ngModel)]="product.Archived" name="Archived">
    </div>
    <button class="btn btn-success m-2" type="submit">Update</button>&nbsp;
    <button class="btn btn-default m-2" type="button" (click)="onExit()">Cancel</button>&nbsp;
    <button *ngIf="product.ID" class="btn btn-danger m-2" type="button" (click)="onDelete()">Delete</button>&nbsp;
  </form>
</div>
